<script src="/assets/js/script.js"></script>
{{!-- TODO: Menu, tabs, and BM's, Modals --}}

<div id="menu">
    <h2><i class="fa fa-reorder"></i>{{name}}</h2>
    <ul>
        {{#each collections}}
        {{> menuPartial}}
        {{/each}}
        {{#each bookmarks}}
        {{> menuBookmarkPartial}}
        {{/each}}
    </ul>
</div>


<div id="tagEditForm" class="editForm">
    <form>
        <input type="text" name="tag">
        <input type="text" name="tagcolor">
        <input type="submit" name="tagupdate">
    </form>
</div>

<div id="bmEditForm" class="editForm">
    <form>
        <input type="text" name="bookmark">
        <input type="text" name="bmurl">
        <textarea name="comments" id="notes" cols="50" rows="30"></textarea>
        <br>
        <div class="input-field col s5">
            <select name="bookmark-options" id="options">
                <option value="0">{{ collection }}</option>
                <option value="1">{{ collection }}</option>
                <option value="2">{{ collection }}</option>
                <option value="3">{{ collection }}</option>
                <option value="4">{{ collection }}</option>
            </select>
        </div>
        <input type="text" name="bmcolor">
        <input type="submit" name="bmupdate">
    </form>
</div>

<div id="collectEditForm" class="editForm">
    <form>
        <input type="text" name="collection">
        <input type="text" name="collectioncolor">
        <div class="input-field col s5" name="collectionparent">
            <select name="bookmark-options" id="options">
                <option value="0">{{ tag }}</option>
                <option value="1">{{ tag }}</option>
                <option value="2">{{ tag }}</option>
                <option value="3">{{ tag }}</option>
                <option value="4">{{ tag }}</option>
            </select>
        </div>
        <input type="submit" name="collectionupdate">
    </form>
</div>
